<!DOCTYPE html>
<html lang="en">
   <head>
      <% include ../partials/nheader.ejs %>
   </head>

   <body id="page-top" class="index" onload="onLoadPage()">
      <!-- Navigation -->
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <a class = "myName page-scroll" href="#page-top">Sharan Shodhan</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
               <ul class="nav navbar-nav navbar-right">
                  <li class="hidden">
                     <a href="#page-top"></a>
                  </li>
                  <li>
                     <a class="nav-item" href="resume/resume.pdf" target="_blank">Resume</a>
                  </li>
                  <li>
                     <a class="page-scroll" href="#portfolio">Portfolio</a>
                  </li>
                  <li>
                     <a class="page-scroll" href="#about">About</a>
                  </li>
                  <li>
                     <a class="page-scroll" href="#contact">Contact</a>
                  </li>
               </ul>
            </div>
            <!-- /.navbar-collapse -->
         </div>
         <!-- /.container-fluid -->
      </nav>
      <!-- Header -->
      <header>
         <div class="sharan" style="position:absolute;display:table;height:100%;width:100%">
            <div class="intro-text">
               <center><img class="img-responsive profile-image" src="img/profile.jpg" alt=""></center>
               <div class="intro-heading">Sharan Shodhan</div>
               <div class="intro-lead-in">Game Developer / iOS Application Developer</div>
               <ul class="list-inline social-buttons">
                  <li><a target="_blank" href="https://www.linkedin.com/in/sharanshodhan" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                  </li>
                  <li><a target="_blank" href="https://www.facebook.com/sharan.shodhan" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li><a target="_blank" href="https://twitter.com/sharanshodhan" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                  </li>
               </ul>
            </div>
         </div>
      </header>
      <!-- Portfolio Grid Section -->
      <section id="portfolio" class="bg-light-gray">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Portfolio</h2>
                  <br>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <h2 class="section-subheading">Entertainment Technology Center</h2>
                  <br>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal15" class="portfolio-link portfolio-thumb" data-toggle="modal">
                     <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                           <h4 class="hover-text">View</h4>
                        </div>
                     </div>
                     <img src="img/lonelight/1.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                     <a href="#portfolioModal15" data-toggle="modal">
                        <h4>Lone Light</h4>
                        <h6>Unity</h6>
                        <h7>Oculus Rift and Leap Motion</h7>
                     </a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <h2 class="section-subheading">Teal Labs</h2>
                  <br>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal14" class="portfolio-link portfolio-thumb" data-toggle="modal">
                     <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                           <h4 class="hover-text">View</h4>
                        </div>
                     </div>
                     <img src="img/cerebro/1.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                     <a href="#portfolioModal14" data-toggle="modal">
                        <h4>Cerebro</h4>
                        <h6>Unity</h6>
                        <h7>iOS</h7>
                     </a>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal12" class="portfolio-link portfolio-thumb" data-toggle="modal">
                     <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                           <h4 class="hover-text">View</h4>
                        </div>
                     </div>
                     <img src="img/got/1.jpg" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                     <a href="#portfolioModal12" data-toggle="modal">
                        <h4>Game of Territories</h4>
                        <h6>Unity</h6>
                        <h7>iOS</h7>
                     </a>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal13" class="portfolio-link portfolio-thumb" data-toggle="modal">
                     <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                           <h4 class="hover-text">View</h4>
                        </div>
                     </div>
                     <img src="img/wordtower/1.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                     <a href="#portfolioModal13" data-toggle="modal">
                        <h4>Word Tower</h4>
                        <h6>Unity</h6>
                        <h7>iOS, OSX, Windows</h7>
                     </a>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <h2 class="section-subheading">Playpower</h2>
                  <br>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal1" class="portfolio-link portfolio-thumb" data-toggle="modal">
                     <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                           <h4 class="hover-text">View</h4>
                        </div>
                     </div>
                     <img src="img/mathpop/d.jpg" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                     <a href="#portfolioModal1" data-toggle="modal">
                        <h4>Math Pop</h4>
                        <h6>ActionScript and Starling</h6>
                        <h7>Web, Android, iOS, Kindle, OSX, Windows</h7>
                     </a>
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal2" class="portfolio-link portfolio-thumb" data-toggle="modal">
                     <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                           <h4 class="hover-text">View</h4>
                           <!-- <i class="fa fa-info-circle fa-3x"></i> -->
                        </div>
                     </div>
                     <img src="img/mathplanet/d.jpg" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                     <a href="#portfolioModal2" data-toggle="modal">
                        <h4>Math Planet</h4>
                        <h6>ActionScript and Starling</h6>
                        <h7>Web, Android, iOS, Kindle, OSX, Windows</h7>
                     </a>
                     <!-- <p class="text-muted">Game Developer</p> -->
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal3" class="portfolio-link portfolio-thumb" data-toggle="modal">
                     <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                           <h4 class="hover-text">View</h4>
                        </div>
                     </div>
                     <img src="img/numberjumble/d.jpg" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                     <a href="#portfolioModal3" data-toggle="modal">
                        <h4>Number Jumble</h4>
                        <h6>ActionScript and Starling</h6>
                        <h7>Web, Android, iOS</h7>
                     </a>
                     <!-- <p class="text-muted">Sole Developer</p> -->
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal4" class="portfolio-link portfolio-thumb" data-toggle="modal">
                     <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                           <h4 class="hover-text">View</h4>
                        </div>
                     </div>
                     <img src="img/bsnl/d.jpg" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                     <a href="#portfolioModal4" data-toggle="modal">
                        <h4>Battleship Numberline</h4>
                        <h6>ActionScript and Starling</h6>
                        <h7>Web, Android, iOS, Kindle</h7>
                     </a>
                     <!-- <p class="text-muted">Game Developer</p> -->
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal5" class="portfolio-link portfolio-thumb" data-toggle="modal">
                     <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                           <h4 class="hover-text">View</h4>
                        </div>
                     </div>
                     <img src="img/traingame/d.jpg" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                     <a href="#portfolioModal5" data-toggle="modal">
                        <h4>Crazy Train</h4>
                        <h6>Cocos2D-JS</h6>
                        <h7>Web</h7>
                     </a>
                     <!-- <p class="text-muted">Solo Developer</p> -->
                  </div>
               </div>
               <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal7" class="portfolio-link portfolio-thumb" data-toggle="modal">
                     <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                           <h4 class="hover-text">View</h4>
                        </div>
                     </div>
                     <img src="img/clockgame/d.jpg" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                     <a href="#portfolioModal7" data-toggle="modal">
                        <h4>Clock Game</h4>
                        <h6>Phaser-JS</h6>
                        <h7>Web</h7>
                     </a>
                     <!-- <p class="text-muted">Solo Developer</p> -->
                  </div>
               </div>
            </div>
            <br>
            <div class="row">
               <div class="col-lg-12">
                  <h2 class="section-subheading">Dekorate</h2>
                  <br>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal9" class="portfolio-link portfolio-thumb" data-toggle="modal">
                     <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                           <h4 class="hover-text">View</h4>
                        </div>
                     </div>
                     <img src="img/dekorate/d.jpg" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                     <a href="#portfolioModal9" data-toggle="modal">
                        <h4>Dekorate</h4>
                        <h6>Native iOS (Swift)</h6>
                        <h7>iOS</h7>
                     </a>
                     <!-- <p class="text-muted">Sole Developer</p> -->
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <h2 class="section-subheading">Personal</h2>
                  <br>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 col-sm-6 portfolio-item">
                  <a href="#portfolioModal11" class="portfolio-link portfolio-thumb" data-toggle="modal">
                     <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                           <h4 class="hover-text">View</h4>
                        </div>
                     </div>
                     <img src="img/taxi/1.png" class="img-responsive" alt="">
                  </a>
                  <div class="portfolio-caption">
                     <a href="#portfolioModal11" data-toggle="modal">
                        <h4>Avoid the taxis</h4>
                        <h6>Unity</h6>
                        <h7>Web, OSX, Windows, iOS, Android</h7>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- About Section -->
      <section id="about">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                  <h2 class="section-heading">About</h2>
                  <br>
                  <h3 class="section-subheading">Hello! I am a passionate Game Developer currently pursuing Masters of Entertainment Technology at the Entertainment Technology Center (ETC), Carnegie Mellon University. I made my first game prototype five years ago and since then have worked on dozens of games on multiple platforms. Through the five years of my professional software development experience, I have gained expertise in cross platform mobile games as well as application development on iOS and Web platforms. 
                  <br><br>
                  As an undergraduate, I joined Playpower, an organization making Math educational games and backed by a research team at Carnegie Mellon University. I started as a programming intern, but in few years, I had become the lead developer of a ten-person team. Today, the games that make me most proud are Math Pop and Math Planet. Downloaded over a million times, the games have won the National STEM Game Competition, the NYC Schools Gap App Challenge and a reader’s choice award.
                  <br><br>
                  After spending almost four years with the amazing team at Playpower, I co-founded a company called Dekorate. As co-founder and CTO, my role was to make an elegant interior designing service accessible to anyone with a smart phone. Along with enhancing my app development skills, I acquired good leadership skills by managing interdisciplinary teams. Leaving the company in the able hands of my colleague, I was ready to take on the next challenge and applied for a graduate program at the Entertainment Technology Center.
                  <br><br>
                  I was always interested in the confluence of entertainment and education. With a mission to make learning fun and engaging for kids all around the world, I joined Teal Labs - a small team of engineers and scientists aiming to build a 21st-century learning system that is highly effective. There I leveraged technologies like augmented reality and multiplayer gaming to build highly engaging experiences that make the students fall in love with learning.
                  <br><br>
                  Currently, I am in my first year of graduate studies at the ETC. As part of my coursework in Building Virtual Worlds, I am responsible for rapidly prototyping interactive games using Unity (C#) every two weeks in interdisciplinary teams of four or five. Working on cutting-edge technologies such as Oculus Rift, Leap Motion and HTC Vive has expanded my technical knowledge in the Virtual Reality space as well. 
                  <br><br>
                  Apart from making games and applications, I enjoy playing Tennis, traveling and exploring new places!
                  </h3>
               </div>
            </div>
         </div>
      </section>
      <!-- Contact Section -->
      <section id="contact">
         <div class="container">
            <div class="row">
               <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Contact</h2>
                  <br><br><br><br>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <form name="sentMessage" id="contactForm" novalidate>
                     <div class="row">
                        <div class="col-md-6" style="margin-bottom:50px;">
<!--                            <h4 style = "color:#e98b39;"><strong>Phone</strong></h4>
                           <p style = "font-size: 16px;color:#fff;"><a style = "color:#fff;" href="tel:0014122776290">+1 (412) 277-6290</a></p>
 -->                           <h4 style = "color:#e98b39;margin-top:20px"><strong>Email</strong></h4>
                           <p style = "font-size: 16px;color:#fff;"><a style = "color:#fff;" href="mailto:sharanshodhan@gmail.com">sharanshodhan@gmail.com</a></p>
                           <h4 style = "color:#e98b39;margin-top:20px"><strong>Address</strong></h4>
                           <p style = "font-size: 16px;color:#fff;">6364 1/2 Forward Ave<br> Pittsburgh, PA 15217</p>
                           <h4 style = "color:#e98b39;margin-top:20px"><strong>Skype</strong></h4>
                           <p style = "font-size: 16px;color:#fff;"><a style = "color:#fff;" href="skype:sharan_shodhan?chat">sharan_shodhan</a></p>
                           <h4 style = "color:#e98b39;margin-top:20px"><strong>On the web</strong></h4>
                           <ul class="list-inline social-buttons">
                              <li><a target="_blank" href="https://www.linkedin.com/in/sharanshodhan" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                              </li>
                              <li><a target="_blank" href="https://www.facebook.com/sharan.shodhan" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                              </li>
                              <li><a target="_blank" href="https://twitter.com/sharanshodhan" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                              </li>
                           </ul>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                              <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                              <p class="help-block text-danger"></p>
                           </div>
                           <div class="form-group">
                              <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                              <p class="help-block text-danger"></p>
                           </div>
                           <div class="form-group">
                              <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number.">
                              <p class="help-block text-danger"></p>
                           </div>
                           <!-- </div>
                              <div class="col-md-6"> -->
                           <div class="form-group">
                              <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                              <p class="help-block text-danger"></p>
                           </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6"></div>
                        <div class="col-md-6 text-left">
                           <br>
                           <div id="success"></div>
                           <button type="submit" class="btn btn-xl">Send Message</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </section>
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <span class="copyright">Copyright &copy; Sharan Shodhan 2015</span>
               </div>
               <!--  <div class="col-md-4">
                  <ul class="list-inline social-buttons">
                      <li><a target="_blank" href="https://www.facebook.com/sharan.shodhan" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li><a target="_blank" href="https://twitter.com/sharanshodhan" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li><a target="_blank" href="https://www.linkedin.com/in/sharanshodhan" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                  </ul>
                  </div>
                  <div class="col-md-4">
                  </div> -->
            </div>
         </div>
      </footer>
      <!-- Portfolio Modals -->
      <!-- Use the modals below to showcase details about your portfolio projects! -->
      <!-- Portfolio Modal 1 -->
      <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl">
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 style="text-align:center;">Math Pop</h2>
                        <div class="project-slider">
                           <div><img class="img-responsive img-centered" src="img/mathpop/1.jpeg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/mathpop/2.jpeg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/mathpop/3.jpeg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/mathpop/4.jpeg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/mathpop/5.jpeg" alt=""></div>
                        </div>
                        <br>
                        <div class="video-container">
                           <iframe src="http://www.youtube.com/embed/vNJcj7RcNWM">
                           </iframe>
                        </div>
                        <br>
                        <h6>Contribution</h6>
                        <p>
                           Programmer
                        </p>
                        <h6>Framework</h6>
                        <p>
                           ActionScript and Starling
                        </p>
                           <h6>Platform</h6>
                        <p>
                           Web. iOS, Android, Kindle, OSX, Windows
                           <br><br>
                           Math Pop is a fun and engaging way to practice math problems aligned to the Common Core Standards. Players earn coins by practicing math that they can spend on a super fun game - Aqua ride. The adaptive algorithm makes the app a great learning experience for kids at all learning levels. Parents/Teachers can keep track of progress across all skills. With over 350k downloads over Android and iOS platforms, kids love this way of practice around the world! 
                           <br>
                           Math Pop is powered by a new generation of adaptive machine learning tools that measurably improve over time. When you play, you learn, our games learn - and we all help advance the science of learning! It's a win-win-win. 
                              <br><br>
                        More Info: <a style = "color:#34495e" href = "http://www.playpowergames.com/mathpop" target = "_blank">View App</a></p>
                        <div class="modal-footer">
                           <div class="col-md-3 col-md-offset-3">
                              <a target="_blank" href="http://www.playpowergames.com/mathpop"><button type="button" class="btn btn-secondary">View More</button></a>
                           </div>
                           <div class="col-md-3">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Portfolio Modal 2 -->
      <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl">
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <h2 style="text-align:center;">Math Planet</h2>
                        <div class="project-slider">
                           <div><img class="img-responsive img-centered" src="img/mathplanet/1.jpeg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/mathplanet/2.jpeg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/mathplanet/3.jpeg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/mathplanet/4.jpeg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/mathplanet/5.jpeg" alt=""></div>
                        </div>
                        <br>
                        <div class="video-container">
                           <iframe src="http://www.youtube.com/embed/05QIwMagWMw">
                           </iframe>
                        </div>
                        <h6>Contribution</h6>
                        <p>
                           Programmer
                        </p>
                        <h6>Framework</h6>
                        <p>
                           ActionScript and Starling
                        </p>
                           <h6>Platform</h6>
                        <p>
                           Web. iOS, Android, Kindle, OSX, Windows
                           <br><br>
                           Was part of a five-member team and created a fun Math Game Curriculum called Math Planet. With over 700k downloads on the App Store, the app teaches all concepts of Math to kids in grades 1-8. Math Planet was designed by learning scientists at Carnegie Mellon University and has been tested in hundreds of classrooms.
                           <br><br>
                           Soon into development, we ran into a performance problem with running Flash-based apps on a mobile platform. Realising that native Flash uses the CPU to render graphics, we used Starling to develop our own framework. This framework enabled all content to be rendered directly by the GPU, giving us a huge performance boost on a mobile device. 
                           <br><br>
                           <h6>Awards</h6>
                           ** Won National STEM Game Competition<br>
                           ** Won Educational App Grand Challenge<br>
                           ** Won New York City Department of Education "Gap App" competition
                           <br><br>
                           More Info: <a style = "color:#34495e" href = "http://www.playpowergames.com/mathplanet" target = "_blank">View App</a> </p>
                        <div class="modal-footer">
                           <div class="col-md-3 col-md-offset-3">
                              <a target="_blank" href="http://www.playpowergames.com/mathplanet"><button type="button" class="btn btn-secondary">View More</button></a>
                           </div>
                           <div class="col-md-3">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Portfolio Modal 3 -->
      <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl">
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 style="text-align:center;">Number Jumble</h2>
                        <div class="project-slider">
                           <div><img class="img-responsive img-centered" src="img/numberjumble/1.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/numberjumble/2.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/numberjumble/3.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/numberjumble/4.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/numberjumble/5.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/numberjumble/6.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/numberjumble/7.jpg" alt=""></div>
                        </div>
                        <br>
                        <h6>Contribution</h6>
                        <p>
                           Programmer and data analyst
                        </p>
                        <h6>Framework</h6>
                        <p>
                           ActionScript and Starling
                        </p>
                           <h6>Platform</h6>
                        <p>
                           Web, iOS, Android
                           <br><br>
                        A number puzzle game for recognizing patterns in numbers. The game has a built-in Design optimization engine and an adaptive machine learning technology.
                        <br><br>
                        More Info: <a style = "color:#34495e" href = "https://www.brainpop.com/games/numberjumble/" target = "_blank">Play Game</a></p>
                        <div class="modal-footer">
                           <div class="col-md-3 col-md-offset-3">
                              <a target="_blank" href="https://www.brainpop.com/games/numberjumble/">
                              <button type="button" class="btn btn-secondary">View Demo</button></a>
                           </div>
                           <div class="col-md-3">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Portfolio Modal 4 -->
      <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl">
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 style="text-align:center;">Battleship Numberline</h2>
                        <div class="project-slider">
                           <div><img class="img-responsive img-centered" src="img/bsnl/1.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/bsnl/2.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/bsnl/3.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/bsnl/4.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/bsnl/5.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/bsnl/6.jpg" alt=""></div>
                        </div>
                        <br>
                        <h6>Contribution</h6>
                        <p>
                           Programmer
                        </p>
                        <h6>Framework</h6>
                        <p>
                           ActionScript 3.0 and Starling
                        </p>
                           <h6>Platform</h6>
                        <p>
                           Web, iOS, Android, Kindle
                           <br><br>
                        A numberline game to teach the kids the concept of estimation on a numberline.</p>

                        <div class="modal-footer">
                           <div class="col-md-4 col-md-offset-4">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Portfolio Modal 5 -->
      <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl">
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 style="text-align:center;">Crazy Train</h2>
                        <div class="project-slider">
                           <div><img class="img-responsive img-centered" src="img/traingame/1.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/traingame/2.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/traingame/3.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/traingame/4.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/traingame/5.jpg" alt=""></div>
                        </div>
                        <br>
                        <h6>Contribution</h6>
                        <p>
                           Programmer
                        </p>
                        <h6>Framework</h6>
                        <p>
                           Cocos2D-JS
                        </p>
                           <h6>Platform</h6>
                        <p>
                           Web
                           <br><br>
                        Developed the html5 game using the CreateJS javascript framework. The game is built for kids in primary school to learn the concept of counting </p>
                        <div class="modal-footer">
                           <div class="col-md-3 col-md-offset-3">
                              <a target="_blank" href="http://playpowerlabs.org/html5/TrainGame/"><button type="button" class="btn btn-secondary">View Demo</button></a>
                           </div>
                           <div class="col-md-3">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Portfolio Modal 7 -->
      <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl">
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 style="text-align:center;">Clock Game</h2>
                        <div class="project-slider">
                           <div><img class="img-responsive img-centered" src="img/clockgame/1.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/clockgame/2.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/clockgame/3.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/clockgame/4.jpg" alt=""></div>
                        </div>
                        <br>
                        <h6>Contribution</h6>
                        <p>
                           Programmer
                        </p>
                        <h6>Framework</h6>
                        <p>
                           Phaser-JS
                        </p>
                           <h6>Platform</h6>
                        <p>
                           Web
                           <br><br>
                        Built an html5 game to help kids learn the concept of time. Inculcating in them the relation between digital clock and an analog clock.</p>
                        <div class="modal-footer">
                           <div class="col-md-3 col-md-offset-3">
                              <a target="_blank" href="http://playpowerlabs.org/lwactivities/ClockGame/index.html?json=level1"><button type="button" class="btn btn-secondary">View Demo</button></a>
                           </div>
                           <div class="col-md-3">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Portfolio Modal 9 -->
      <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl">
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 style="text-align:center;">Dekorate</h2>
                        <div class="project-slider">
                           <div><img class="img-responsive img-centered" src="img/dekorate/1.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/dekorate/2.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/dekorate/3.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/dekorate/4.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/dekorate/5.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/dekorate/6.jpg" alt=""></div>
                        </div>
                        <br>
                        <h6>Contribution</h6>
                        <p>
                           Chief Technology Officer, iOS Programmer and Product Designer
                        </p>
                        <h6>Framework</h6>
                        <p>
                           Native iOS (Swift)
                        </p>
                           <h6>Platform</h6>
                        <p>
                           iOS
                           <br><br>
                        Built and designed an app as part of my work at Dekorate. The app aids in visualising the finer details of the room in 3D before making the online purchase. With public feeds and personalised interior designer options, Dekorate aims to become the one-stop destination for interior designing needs. With an ability to visualise your room in a head-mounted display, it gives the user a real feeling of how the newly designed room will look after buying the products.
                        <br><br>
                        More Info: <a style = "color:#34495e" href = "http://www.dekorate.in" target = "_blank">View App</a></p>
                        <div class="modal-footer">
                           <div class="col-md-3 col-md-offset-3">
                              <a target="_blank" href="https://itunes.apple.com/app/apple-store/id1017191666?mt=8"><button type="button" class="btn btn-secondary">App Store</button></a>
                           </div>
                           <div class="col-md-3">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- Portfolio Modal 14 -->
      <div class="portfolio-modal modal fade" id="portfolioModal14" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl">
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 style="text-align:center;">Cerebro</h2>
                        <div class="project-slider">
                           <div><img class="img-responsive img-centered" src="img/cerebro/1.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/cerebro/2.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/cerebro/3.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/cerebro/4.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/cerebro/5.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/cerebro/6.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/cerebro/7.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/cerebro/8.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/cerebro/9.png" alt=""></div>
                        </div>
                        <br>
                        <h6>Contribution</h6>
                        <p>
                           Programmer and Designer
                        </p>
                        <h6>Framework</h6>
                        <p>
                           Unity(C#)
                        </p>
                           <h6>Platform</h6>
                        <p>
                           iOS
                           <br><br>
                        At Teal Labs, I built a 21st-century learning system that proved to be highly engaging among students of grade five, six and seven. Leveraging technologies like augmented reality and multiplayer gaming, I built experiences that made the students fall in love with learning. The app was built in Unity heavily using the Unity UI system. To support certain native features, I developed iOS plugins to provide a smooth experience for the users. </p>
                        <div class="modal-footer">
                           <div class="col-md-4 col-md-offset-4">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Portfolio Modal 12 -->
      <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl">
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 style="text-align:center;">Game of Territories</h2>
                        <div class="project-slider">
                           <div><img class="img-responsive img-centered" src="img/got/1.jpg" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/got/3.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/got/2.png" alt=""></div>
                        </div>
                        <div class="video-container">
                           <iframe src="http://www.youtube.com/embed/7Y_On7pX0C8">
                           </iframe>
                        </div>
                        <br>
                        <h6>Contribution</h6>
                        <p>
                           Programmer
                        </p>
                        <h6>Framework</h6>
                        <p>
                           Unity(C#)
                        </p>
                           <h6>Platform</h6>
                        <p>
                           iOS
                           <br><br>
                           A massively multiplayer online game built in Unity. The game was designed to work in a school setting where students teamed up with their classmates to play against other classes to maximize their territory on the board.
                           <br><br>
                           This game was a major factor in driving the kids to do a lot of Math and English practice. The players could earn coins by solving Math and English exercises and use those coins in this game to seize territory. The board would be cleared every week giving a chance to the teams to compete on a fresh board to avenge their previous defeats!
                           <br><br>
                           The first screenshot above is a snapshot of the board at the end of week 1 where the teal team was badly defeated by the other teams. They took the defeat as motivation and completely destroyed everyone else in the following week as seen in the second screenshot.
                        </p>
                        <div class="modal-footer">
                           <div class="col-md-4 col-md-offset-4">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Portfolio Modal 13 -->
      <div class="portfolio-modal modal fade" id="portfolioModal13" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl">
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 style="text-align:center;">Word Tower</h2>
                        <div class="project-slider">
                           <div><img class="img-responsive img-centered" src="img/wordtower/1.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/wordtower/2.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/wordtower/3.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/wordtower/4.png" alt=""></div>
                        </div>
                        <br>
                        <h6>Contribution</h6>
                        <p>
                           Programmer and Designer
                        </p>
                        <h6>Framework</h6>
                        <p>
                           Unity(C#)
                        </p>
                           <h6>Platform</h6>
                        <p>
                           iOS, OSX, Windows
                           <br><br>
                           A simple multiplayer word game still in its prototyping phase. The goal is to make the tallest tower among the children in your school. As a player, you can have a maximum of 10 letters in the tray and use them to make valid words to beat your fellow classmates! The game was built using Unity.
                        </p>
                        <div class="modal-footer">
                           <div class="col-md-4 col-md-offset-4">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Portfolio Modal 11 -->
      <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl">
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 style="text-align:center;">Avoid the taxis</h2>
                        <div class="project-slider">
                           <div><img class="img-responsive img-centered" src="img/taxi/1.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/taxi/2.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/taxi/3.png" alt=""></div>
                        </div>
                        <br>
                        <h6>Contribution</h6>
                        <p>
                           Programmer and Designer
                        </p>
                        <h6>Framework</h6>
                        <p>
                           Unity(C#)
                        </p>
                           <h6>Platform</h6>
                        <p>
                           Web, iOS, Android, OSX, Windows
                           <br><br>
                           An endless runner prototype built in 4 days as part of the Building Virtual Worlds class at the Entertainment Technology Center. The game increases in difficulty and gets more exciting as you travel further distance. With superpowers like Flash and Invincibility, the game keeps the player engaged.

                           <br><br>
                           More Info: <a style = "color:#34495e" href = "/Taxi/index.html" target = "_blank">Play game</a>
                        </p>
                        <div class="modal-footer">
                           <div class="col-md-3 col-md-offset-3">
                              <a target="_blank" href = "/Taxi/index.html"><button type="button" class="btn btn-secondary">Play Game</button></a>
                           </div>
                           <div class="col-md-3">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <!-- Portfolio Modal 15 -->
      <div class="portfolio-modal modal fade" id="portfolioModal15" tabindex="-1" role="dialog" aria-hidden="true">
         <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
               <div class="lr">
                  <div class="rl">
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                     <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 style="text-align:center;">Lone Light</h2>
                        <div class="project-slider">
                           <div><img class="img-responsive img-centered" src="img/lonelight/1.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/lonelight/2.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/lonelight/3.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/lonelight/4.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/lonelight/5.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/lonelight/6.png" alt=""></div>
                           <div><img class="img-responsive img-centered" src="img/lonelight/7.png" alt=""></div>
                        </div>
                        <div class="video-container">
                           <iframe src="http://www.youtube.com/embed/mYlJDF6k0ro">
                           </iframe>
                        </div>
                        <br>
                        <h6>Contribution</h6>
                        <p>
                           Programmer and Designer
                        </p>
                        <h6>Team size</h6>
                        <p>
                           Five
                        </p>
                        <h6>Development Timeline</h6>
                        <p>
                           2 weeks
                        </p>
                        <h6>Framework</h6>
                        <p>
                           Unity(C#)
                        </p>
                           <h6>Platform</h6>
                        <p>

                           Oculus Rift and Leap Motion
                           <br><br>
                           Developed an interactive underwater world using Unity (c#) for the Oculus Rift and Leap Motion platform.
                           <br><br>
                           The objective of the game is to help a spirit light up a ruin inside the ocean. The ruin has been destroyed by a sea monster as it likes to live in darkness and hates light. You as a guest have to follow the spirit along a path to light up the environment and fight the monster with a spear along the way. The novel interaction to swim inside the world involves both hands as well as spatial movement. You can also use your hands stab the monster with the spear.
                        </p>
                        <div class="modal-footer">
                           <div class="col-md-4 col-md-offset-4">
                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close Project</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <% include ../partials/nbody.ejs %>
      
   </body>
</html>